#info{
	background: #333;
	color: #fff;
	text-align: center;
}
#info .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.info_1{
	margin: 20px;
}
.info_1 img{
	width: 180px;
	height: 180px;
	border-radius: 50%;
	border: 5px solid #fff; 
}
